@model Gudang;

@{
    ViewData["Title"] = "Form Add Gudang";
}

<h2>@ViewData["Title"]</h2>

<form id="formGudang" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="NamaGudang"></label>
        <input type="text" class="form-control" asp-for="NamaGudang"/>
        <span class="text-danger mt-1" style="font-size: .825rem" asp-validation-for="NamaGudang"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" id="resetBtn" class="btn btn-danger">Reset</button>
    <a asp-action="Index" asp-controller="Gudang" class="btn btn-danger">Cancel</a>
</form>


@section Scripts
{
    <script>
        $(document).ready(function(){
            $("#resetBtn").click(function (){
                $("#formGudang")[0].reset();
            })
        })
    </script>
}
